@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html{
    background-color: rgba(122, 191, 191, .5);
}
body{
    min-width: 414px;
    background-color: #F2F2F2;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
p, dt, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
dt{
    font-weight: bold;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
}

main{
    padding-top: 300px;
}

#menu, #home, #avatar {
    display: inline-block;
    padding-top: 10px;
}
#menu, #avatar{
    display: flex;
    flex-direction: column-reverse;
    width: 20%;
    align-items: center;
}


 #home span {
    display: none;
}

#home{
    background-color: #EB5428;
    width: 66%;
    text-align: center;
}

nav{
    display: flex;
    box-shadow: 2px 2px 2px #0D0D0D
}

nav ul{
    display: none;
}






















/*nav li{
    display: flex; 
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column-reverse;
    justify-content: center;
}
    */