@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html{
    background-color: rgba(122, 191, 191, .5);
}
body{
    min-width: 414px;
    background-color: #F2F2F2;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
p, dt, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
dt{
    font-weight: bold;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
}

main{
    padding-top: 300px;
}

#menu, #home, #avatar {
    display: inline-block;
    padding-top: 10px;
}
#menu, #avatar{
    display: flex;
    flex-direction: column-reverse;
    width: 20%;
    align-items: center;
}


 #home span {
    display: none;
}

#home{
    background-color: #EB5428;
    width: 66%;
    text-align: center;
}

nav{
    display: flex;
    box-shadow: 2px 2px 2px #0D0D0D
}

nav ul{
    display: none;
}

#search{
    display: flex;
    margin: 50px auto;
    width: fit-content;
}
#search input{
    border: 2px solid #EB5428;
}

menu{
    padding: 0;
    display: flex;
    justify-content: space-around;
}

menu li{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    color:#EB5428;
}

#taco-image img{
    max-width: 100%;
    height: auto;
}
#intro{
    margin: 5px;
}
#details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
}
dt{
    margin-left: 10px;
}
 dd{
    margin-left:0px;
}

#ingredients ul{
    padding-left: 25px;
}
#directions ol{
    padding-left: 15px;
    
}
#ingredients li {
    padding-left: 10px;
    list-style-type: square;
}
#directions li{
    margin: 10px 5px 5px 10px;
}

#side-dishes{
    background-color:#7ABFBF;
}















/*nav li{
    display: flex; 
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column-reverse;
    justify-content: center;
}
    */