@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

html{
    background-color: rgba(122, 191, 191, .5);
}
body{
    min-width: 414px;
    background-color: #F2F2F2;
    margin: 0;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}
h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
nav a, nav span, menu li, #social li, footer {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
p, dt, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
dt{
    font-weight: bold;
}


header{
    position: absolute;
    top: 0;
    width: 100%;
}

main{
    padding-top: 200px;
}

#menu, #home, #avatar {
    display: inline-block;
    padding-top: 10px;
}
#menu, #avatar{
    display: flex;
    flex-direction: column-reverse;
    width: 15%;
    align-items: center;
}

#avatar{
    justify-content: center;
}

 #home span {
    display: none;
}

#home{
    background-color: #EB5428;
    width: 66%;
    text-align: center;
    padding: 10px;
}

nav{
    display: flex;
    box-shadow: 2px 2px 2px #0D0D0D
}

nav ul{
    display: none;
}

#search{
    display: flex;
    margin: 50px auto;
    width: fit-content;
}
#search input{
    border: 2px solid #EB5428;
}

menu{
    padding: 0;
    display: flex;
    justify-content: space-around;
}

menu li{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    color:#EB5428;
}

#taco-image img{
    max-width: 100%;
    height: auto;
}
#intro{
    margin: 10px;
    line-height: 1.5em;
}
#details{
    display: grid;
    width: 75%;
}
dt, dd{
    margin-left: 10px;
    display: inline-block;
}

#ingredients ul{
    padding-left: 25px;
}
#directions ol{
    padding-left: 15px;
    
}
#ingredients li {
    padding-left: 10px;
    list-style-type: square;
    padding-bottom: 10px;
}
#directions li{
    margin: 0 5px 30px 10px;
}

#side-dishes{
    background-color:#7ABFBF;
}

.side-dish {
    display: grid;
    grid-template-columns: 50% 50%; /* Split into two columns */
    gap: 10px; /* Optional spacing */
  }
  
 .side-dish{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
 }
 .img-container{
    width: 40%;
 }
 .img-container img{
    max-width: 100%;
 }
 .side-dish h3{
    margin: 0;
 }
.side-dish-text{
    display: flex;
    flex-direction: column;
}

.rating{
    margin: 0;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;
}

#footer-info{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#social ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    color:#EB5428;
}
#social li{
    display: flex;
    flex-direction: column-reverse;
}
#social svg {
    margin: auto;
}
#footer-info h3{
    margin: 5px;
}

#footer-info img{
    width: 50%;
}



@media screen and (min-width: 768px){

    #menu{
        display: none;
    }
    #home{
        width: fit-content;
    }
    nav{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    nav ul{
        display: flex;
        justify-content: center;
        padding-left: 0;
        
    }
    #menu-items{
        flex: 0 0 100%;
        order: 2; 
    }
    nav li{
        list-style-type: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;

    }
    nav a{
        text-decoration: none;
        color:#EB5428;
    }

    #search{
        position: absolute;
        margin-top: 0;
        top: 25px;
        left: 55%;
    }
    h1{
        text-align:left;
        margin-left: 20px;
    }
    menu{
        position: absolute;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        margin-top: 0;
        padding: 20px;
    }
    #recipe-container{
        display: flex;
        flex-wrap: wrap;
    }
    #details-container{
        width: 100%;
    }

    #details{
        margin: auto;
        width: 40%;
        justify-content: center;
    }

    #ingredients{
        width: 30%;
    }
    #directions{
        width: 70%;
    }
    .rating{
        display: flex;
    }
    .rating p{
        margin-right: 5px;
    }
    #side-dish-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    footer{
        flex-direction: row-reverse;
    }
    #footer-info, #social{
        width: 50%;
        padding-top: 50px;
    }

}

@media screen and (min-width: 1280px){
    #menu-items{
        order: 1;
        flex: 0 0 75%; 
        justify-items: center;

    }
    #avatar{
        order: 2;
    }
    nav{
        flex-wrap: nowrap;
    }
    nav ul{
        width: 60%;
        justify-content: center;
    }
    #search{
        position: relative;
        top: 75px;
        left: 0;

    }
    #search input{
        width: 20em;
    }
    h1{
        text-align: center;
    }
    #tacos-container{
        display: flex;

    }
    menu{
        flex-direction: column;
        width: 10%;
        position:static;
        border: 2px solid #EB5428;
        height: auto;
        margin-bottom: 2px;
    }
    #taco-image{
        width: 40%;
    }
    #intro{
        width: 40%;
    }
    #details-container{
        background-color:#0D0D0D;
        color:#7ABFBF;
        padding-bottom: 10px;

    }
    #details{
        grid-template-columns: repeat(5,1fr);
        width: 100%;
        margin: auto;
        justify-items: center;
    }

    .detail-container{
        text-align: center;
        display:flex;
        flex-direction: column;
    }
    #side-dish-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .side-dish{
        flex-direction: column;
    }
  .side-dish .img-container{
    width: 100%;
  }
  #footer-info{
    display: flex;
    flex-direction: row-reverse;
    justify-content:left;
    align-items: start;
  }
  #footer-info img{
    width: 25%;
    margin-right: 5px;
  }

}